<!-- list -->
<ul class="wraplist wrapper-menu">
    
    <li ui-sref-active="active" >
        <a ui-sref="app.resume" class="nosub">
            <i class="fa fa-file-pdf-o"></i>
            <span class="title">Resume</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
            <i class="material-icons">event</i>
            <span class="title">Events</span>
        </a>
    </li>

    <li class="auto">
        <a ui-sref="app.ui.search" class="nosub">
            <i class="fa fa-file-text-o"></i>
            <span class="title">Resume</span>
        </a>
    </li>

</ul>
<!-- / list -->
