<!--[if lt IE 8]>

<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="landing-page" ng-controller="LandingController">
<div class="landing-navbar">
        <img src="http://imgh.us/FullFinalLogo.png" alt="" class="trurecruit-logo">
        <div class="login-or-signup">
          <a href="#" class="login" style="color:#FFF; text-decoration: none;">
            <span>Log in</span>
        </a>
        <a ng-click="goToState('access.register')" href="#" class="signup" style="color:#FFF; text-decoration: none;">
            <span>Sign Up</span>
        </a>
    </div>
</div>

<div class="content">
    <h1>Bringing Job fairs to the 21st century</h1>
    <p class="intro">
      Easily track your job fair activity by digitally sharing your resume at job fairs, you can track the companies you gave your resume, and which companies downloaded it
  </p>
</div>

<div class="bottom-nav-bar">
    <a ng-click="goToState('access.register')" href = "#" style="color:#FFF; text-decoration: none;"class="candidate-button">
      Candidate
  </a>
  <a ng-click="goToState('access.register')" href = "#" style="color:#FFF; text-decoration: none;" class="employer-button">
      Employer
  </a>
</div>
</div>
